@import "config";

.citySearch {
    &__container {
        border-bottom: honeydew;
        border-left: honeydew;
        border-right: honeydew;
        border-top: 1px solid #e6e6e6;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        position: absolute;
        z-index: 1000;
        border-radius: 0 0 2px 2px;
    }

    &__input {
        font-family: $font-main;
        
        background-color: #FFFFFF;
        border: #DED9C0 2px solid;
        color: #887C66;
        font-size: 0.75em;
        border-radius: 25px;
        display: inline-block;
        cursor: pointer;
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        &--error {
            background-color: #e0cdb7;
            border: #dba59e 2px solid;
        }
        //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        //border: honeydew;
        //display: block;
        //width: 100%;
        //padding: 16px;
        //font-size: 16px;
        //border-radius: 2px;
        //outline: none;
        //cursor:copy;
    }
}