@import "config";

.collectible {
    //display: flex;
    //flex-direction: row;
    //width: 100%;
    //height: fit-content;
    //flex-wrap: wrap;

    &__container {
        max-width: $max-width;
        margin: 0 auto;
    
      }
    
      &__row {
          @include row();
          margin-bottom: $gutter*2;
          flex-wrap: wrap;
      }

    &__content {
        @include columns(12);
    }
    
    &__item {
        padding: 2px;
        border: green 1px solid;
    }

    &__text {
        width: 90%;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        width: 50%;
        transform: translate(50%, 0);
        cursor: pointer;
    }
}