@import "config";

.details {
    position:fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1000;

    &__container {
        width: 70%;
        max-width: $max-width;
        max-height: 80vh;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: #EFEAC8;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        border-radius: 5vw;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
        
        @media (max-width: 1000px) {
           width: 80%;
        }
        @media (max-width: 500px) {
            width: 98%;
            padding: 0;
        }
    }

    &__row {
        @include row();
        flex-wrap: wrap;
        margin-top: 5%;

        @media (max-width: 1000px) {
            justify-content: center;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &__col {
        @include columns(6);
        &__three {
            @include columns(4);
            padding: 2%;
        }

        &__one {
            @include columns(12);
            padding: 2%;
        }

        &__two {
            @include columns(6);
            padding: 2%;
        }

        &__splitter {
            @include columns(6);
            padding-left: 5%;
            border-left: #835B26 dashed 2px;

            @media (max-width: 1000px) {
                @include columns(12);
                padding-left: 0;
                border-left: none;
                border-top: #835B26 dashed 2px;
            }
        }

        @media (max-width: 1000px) {
            @include columns(12);
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        width: 50%;
        transform: translate(50%, 0);
        cursor: pointer;
    }

    &__title {
        font-family: $font-header;
        font-size: 24pt;
        color: #835B26;
        text-align: left;
    }

    &__heading {
        font-family: $font-main;
        font-weight: 500;
        color: #835B26;
        text-align: left;
        margin-bottom: 5px;
    }

    &__content {
        font-family: $font-main;
        font-size: 10pt;
        font-weight: 400;
        color: #887C66;
        text-align: left;
    }

    &__placeholder {
        width: 100%;
        min-height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        text-align: center;
        @media(max-width: 1000px){
            max-height: 20vh;
        }
    }
}

.hidden {
    display: none;
    opacity: 0;
}

.close {
    position: absolute;
    transform: scale(0.75);
    top: 5%;
    right: 5%;
    cursor: pointer;
}

button {
    background-color: #F5F7E1;
    border: #DED9C0 2px solid;
    color: #8B7A66;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: $font-main;
    font-size: 0.75em;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;

    @media (max-width: 1000px) {
        margin-top: 10px;
    }
}

button:hover {
    background-color: white;
    color: #8B7A66;
}

.button {
    &__positive {
        background-color: #61D16C;
        color: white;
        border: white 2px solid;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    &__negative {
        background-color: #FF5757;
        color: white;
        border: white 2px solid;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
}

.image {
    &__villagers {
        width: 20vw;
        max-width: 300px;
        min-width: 200px;
    }

    @media(max-width: 1000px) {
        max-height: 20vh;
    }
}

.frame {
    position: absolute;
    width: 25vw;
    max-width: 360px;
    min-width: 250px;
    min-height: 250px;
    @media(max-width: 1000px) {
        max-height: 20vh;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
    
/* Track */
::-webkit-scrollbar-track {
    background: #DED9C0; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8B7A66; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #835B26; 
}