@import "config";

.home {
    cursor: pointer;
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 20px;

    &__image {
        width: 200px;
    }

    &__row {
        @include row();
        flex-wrap: wrap;
    }

    &__box {
        @include columns(4);
        padding: 80px;
        cursor: pointer;
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }
    
    &__text {
    }
}