@import "config";

.info {
    &__container {
        max-width: $max-width;
        margin: 0 auto;
        background-color: #F7F4E4;
        border-radius: 50px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;
        padding-top: 25px;
        margin-bottom: 100px;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
    }

    &__heading {
        text-align: left;
        font-family: $font-main;
        font-weight: bold;
        color: #835B26;
        margin-bottom: 2%;
    }
    &__heading--disclaimer {
        text-align: left;
        font-family: $font-main;
        font-weight: bold;
        color: #835B26;
        margin-bottom: 1%;
    }
    
    &__text {
        text-align: justify;
        text-justify: inter-word;
        font-family: $font-main;
        font-size: 11pt;
        font-weight: 400;
        color: #887C66;
    }  

    &__text--disclaimer {
        text-align: justify;
        text-justify: inter-word;
        font-family: $font-main;
        font-weight: 300;
        color: #887C66;
    }  

    &__row {
        @include row();
        flex-wrap: wrap;
    }

    &__row--developers {
        @include row();
        flex-wrap: wrap;
        
        @media (min-width: 600px) {
            padding-bottom: 150px;
        }
    }

    &__row--disclaimer {
        @include row();
        flex-wrap: wrap;
        
        @media (min-width: 600px) {
            padding-bottom: 150px;
        }
    }

    &__col {
        @include columns(12);
        padding: 12.5px;

        @media (min-width: 600px) {
            @include columns(6);
            padding: 12.5px;
        }

        @media (min-width: 1100px) {
            @include columns(3);
            padding: 12.5px;
        }
    }

    &__col--developers {
        @include columns(12);
        padding: 12.5px;
        position: relative;

        @media (min-width: 600px) {
            @include columns(6);
            padding: 12.5px;
            position: absolute;
            transform: translate(-50%,0);
            left: 50%;
        }

        @media (min-width: 1100px) {
            @include columns(3);
            padding: 12.5px;
            position: absolute;
            transform: translate(-50%,0);
            left: 50%;
        }
    }
    &__col--disclaimer {
        margin-top: 80px;
        @include columns(12);
        padding: 12.5px;
        position: relative;
        font-size: 0.7em;

        @media (min-width: 600px) {
            @include columns(6);
            padding: 12.5px;
            position: absolute;
            transform: translate(-50%,0);
            left: 50%;
        }

        @media (min-width: 1100px) {
            @include columns(3);
            padding: 12.5px;
            position: absolute;
            transform: translate(-50%,0);
            left: 50%;
        }
    }
}

.infoItem {
    padding: 2px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
}

.image-name {
    text-align: center;
    font-family: $font-main;
    font-weight: bold;
    color: #835B26;
    margin-bottom: 2%;
    transform: translateY(100%)
}  

.image-mail {
    text-align: left;
    font-family: $font-main;
    font-size: 11pt;
    font-weight: 400;
    color: #887C66;
    transform: translateY(120%)
}  

a{
    color: #835B26;
}

@media (max-width: 1000px){ 
    .info::-webkit-scrollbar-track {
        margin-block: 3em;
    }
}