@import "config";

.island {
    &__container {
        max-width: $max-width;
        margin: 0 auto;
        @media (min-width: 800px){
            display: flex;
        }
    } 

    &__col {
        width: 60%;
        display: flex;
        @media (max-width: 800px){
            width: 100%;
        }
        @media (max-width: 500px){
            flex-direction: column;
        }
    } 

    &__row {
        width: 40%;
        flex-direction: row;
        @media (max-width: 800px){
            width: 100%;
        }
    }

    &__encyclopedia {
        padding: 5px;
    }

    &__collectibles {
        padding: 5px;
    }

    &__music {
        padding: 5px;
    }
    
    &__villagers {
        padding: 5px;
    }
}