@import "config";

.list {
    /*display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    */

    &__container {
        max-width: $max-width;
        margin: 0 auto;
    }

    &__row {
        @include row();
        flex-wrap: wrap;
    }

    &__col {
        @include columns(6);

        @media (min-width: 400px) {
            @include columns(4);
        }

        @media (min-width: 800px) {
            @include columns(3);
        }

        @media (min-width: $max-width) {
            @include columns(2);
        }
    }
}