@import "config";

.listItem {
    padding: 2px;
    cursor: pointer;
    
    &__image {
        border-style: solid;

        &__home{
            width: 200px;
            border-radius: 20px;
        }

        &__music{
            width: 75%;
            margin-top: 20px;
            border-radius: 20px;
            &--island{
                max-width: 80px;
                margin: 10px;
                margin-left: 20px;
                border-radius: 20px;            
            }
        }

        &__villagers{
            &--island{
                width: 60px;
            }
        }
        
        &__encyclopedia{
            &--island{
                width: 60px;
            }
        }
    }

    &__imagePlaceholder{
        height: 128px;

        &--island{
            height: 60px;
        }
    }


    &__imagePlaceholderMusic{
        min-height: 250px;
        &--island{
            height: 80px;
        }
    }

    &__text {
        width: 90%;

        &__home{
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            font-family: 'Rubik';
            font-style: normal;
            color: #835B26;
            font-weight: bold;
        }

        &__villagers{
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            font-family: 'Rubik';
            font-style: normal;
            color: #835B26;
            font-weight: bold;
        }

        &__music{
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
            margin-top: 10px;
            font-family: 'Rubik';
            font-style: normal;
            color: #835B26;
            font-weight: bold;
            &--island{
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Rubik';
                font-style: normal;
                color: #835B26;
                font-weight: bold;       
            }
        }

        &__encyclopedia{
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5%;
            font-family: 'Rubik';
            font-style: normal;
            color: #835B26;
            font-weight: bold;
            &--island {
                font-size: 10px;
                width: 100%;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 5%;
                font-family: 'Rubik';
                font-style: normal;
                color: #835B26;
                font-weight: bold;
            } 
        }
    }

    &__home {
        text-decoration: none;
        padding: 2px;
        cursor: pointer;
        margin: 10px;
        width: 250px;
        height: 250px;
        background: #F7F4E4;
        border-radius: 50px;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
            background: #DED9C0;;
            transition: 1s;
            transform: scale(1.05);
        }
    }

    &__villagers {
        padding: 2px;
        cursor: pointer;
        margin: 10px;
        width: 170px;
        height: 170px;
        background: #F7F4E4;
        border-radius: 50px;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
        // overflow: visible;
        transition: 1s;
        &:hover {
            background: #DED9C0;;
            transition: 1s;
            transform: scale(1.05);
        }
        &--island {
            padding: 2px;
            cursor: pointer;
            margin: 5px;
            width: 150px;
            height: 100px;
            background: #F7F4E4;
            border-radius: 30px;
            filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
            // overflow: visible;
            transition: 1s;
            &:hover {
                background: #DED9C0;
                transition: 1s;
                transform: scale(1.05);
            }
        }
    }

    &__encyclopedia {
        cursor: pointer;
    }

    &__music {
        cursor: pointer;
        border-radius: 50px;
        margin: 10px 10px;
        background: #F7F4E4;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
        transition: 1s;
        // padding-bottom: 20px;
        &:hover {
            background: #DED9C0;
            transition: 1s;
            transform: scale(1.05);
            .play_button-is-hover {
                opacity: 1;
                background: transparent;
            }
        }
        &--island {
            align-items: center;
            display: flex;
            cursor: pointer;
            border-radius: 30px;
            margin: 3px 5px;
            background: #F7F4E4;
            filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
            transition: 1s;
            &:hover {
                background: #DED9C0;
                transition: 1s;
                transform: scale(1.01);
                .play_button-is-hover {
                    opacity: 1;
                    background: transparent;
                }
            }
        }
    }

    &__buttonContainer{
        &--island{
            width: 80%;
        }
    }

    &__play_button {
        opacity: 1;
        width: 40px;
        height: 40px;
        background: #DED9C0;
    }

    &playbuttonContainer{
        width: 100%;
    }
}