@import "config";

.listItem {
    padding: 2px;
    border: green 1px solid;
    cursor: pointer;

    &__image {
        border-style:solid;
        border-color: tomato;

        &__music{
            display:grid;
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            // place-self: center; 
            width: 110px;
            height: 110px;
            margin-top: 10px;
            border-radius: 20px;
        }
    }

    &__text {
        width: 90%;

        &__villagers{
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            font-family: 'Rubik';
            font-style: normal;
            color: #835B26;
            font-weight: bold;
        }

        &__music{
            display:grid; 
            // place-self: center; 
            grid-column: 1 / 1;
            grid-row: 1 / 0;
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
            font-family: 'Rubik';
            font-style: normal;
            color: #835B26;
            font-weight: bold;
        }

        &__encyclopedia{
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5%;
            // padding-bottom: ;
            font-family: 'Rubik';
            font-style: normal;
            color: #835B26;
            font-weight: bold;
        }
    }

    &__villagers {
        padding: 2px;
        cursor: pointer;
        margin: 10px;
        width: 170px;
        height: 170px;
        background: #F7F4E4;
        border-radius: 50px;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
        // overflow: visible;
        transition: 1s;
        &:hover {
            background: #DED9C0;;
            transition: 1s;
            transform: scale(1.05);
        }
    }

    &__encyclopedia {
        cursor: pointer;
    }

    &__music {
        cursor: pointer;
        display:grid;
        place-items: center;
        justify-content: center;
        grid-template-columns: 1;
        grid-template-rows: 1;
        border-radius: 50px;
        padding: 2px;
        margin: 25px 10px 10px 1px;
        width: 170px;
        height: 170px;
        background: #F7F4E4;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
        transition: 1s;
        &:hover {
            background: #DED9C0;
            transition: 1s;
            transform: scale(1.05);
            .play_button-is-hover {
                opacity: 1;
                background: transparent;
            }
        }
    }

    &__image_music {
        display:grid;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        // place-self: center; 
        width: 110px;
        height: 110px;
        margin-top: 10px;
        border-radius: 20px;
    }

    &__text_music {
        display:grid; 
        // place-self: center; 
        grid-column: 1 / 1;
        grid-row: 1 / 0;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        font-family: 'Rubik';
        font-style: normal;
        color: #835B26;
        font-weight: bold;
    }

    &__play_button-transparent {
        opacity: 0;
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 40px;
        height: 40px;
        background: transparent;
    }

    &__play_button-is-clicked-to-play {
        opacity: 1;
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 40px;
        height: 40px;
        background: #DED9C0;
    }
    &__play_button-is-not-playing-anymore {
        opacity: 0;
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 40px;
        height: 40px;
        background: #DED9C0;
    }
}