@import "config";

.list {
    &__container {
        max-width: $max-width;
        margin: 0 auto;
        &__encyclopedia{
            position: relative;
            max-width: $max-width;
            margin: 0 auto;
            padding: 50px;
            background: #F7F4E4;
            border-radius: 0px 50px 50px 50px;
            min-height: 98vh;

            &--island {
                position: relative;
                margin: 0 auto;
                padding: 20px;
                background: #F7F4E4;
                border-radius: 0px 30px 30px 30px;
                height: 70vh;
                overflow-y: scroll;
                overflow-x: hidden;
                width: 36vh;

                @media (max-width: 1200px) {
                    width: 34vh;
                }
                @media (max-width: 1100px) {
                    width: 31vh;
                }
                @media (max-width: 1000px) {
                    width: 28vh;
                }
                @media (max-width: 900px) {
                    width: 25vh;
                }
                @media (max-width: 800px) {
                    width: 36vh;
                }
                @media (max-width: 700px) {
                    width: 32vh;
                }
                @media (max-width: 600px) {
                    width: 26vh;
                }
                @media (max-width: 500px) {
                    width: 100%;
                    height: 36vh;
                }
            }    
        }
        &__other{
            &--island {
                max-width: 100%;
                height: 36vh;
                padding: 10px;
                background: #F7F4E4;
                border-radius: 30px;
                overflow-y: scroll;
                overflow-x: hidden;
            }  
        }
    }

    &__row {
        @include row();
        flex-wrap: wrap;
        &__encyclopedia{
            @include row();
            flex-wrap: wrap;
            border: #835B26 2px solid;
            &--island {
                flex-wrap: wrap;
                @include row();
            }  
        }
        &__other {
            &--island {
                padding: 0px 10px;
                flex-wrap: wrap;
                @include row();
            }  
        }  
        &__music {
            &--island {
                flex-wrap: wrap;
            }  
        } 
        &__nav{
            @include row();
            z-index: 10000;
        }
        &__home{
            @include row();
            flex-wrap: wrap;
        }
    }

    &__col {
        @include columns(6);

        @media (min-width: 500px) {
            @include columns(4);
        }

        @media (min-width: 800px) {
            @include columns(3);
        }

        @media (min-width: $max-width) {
            @include columns(2);
        }
        
        &__encyclopedia{
            @include columns(12);
            border: #835B26 2px solid;
            
            &:hover {
                background: #DED9C0;;
                transition: 1s;
                transform: scale(1.05);
            }
            @media (min-width: 400px) {
                @include columns(6);
            }

            @media (min-width: 600px) {
                @include columns(4);
            }
    
            @media (min-width: 800px) {
                @include columns(3);
            }
    
            @media (min-width: $max-width) {
                @include columns(2);
            }

            &--island {
                border: #835B26 2px solid;
                @include columns(6);
                &:hover {
                    background: #DED9C0;;
                    transition: 1s;
                    transform: scale(1.05);
                }
            }  
        }

        &__other{
            &--island {
                width: 33.3%;
                justify-content: center;
                display: flex;
            } 
        }

        &__music{
            @include columns(12);

            @media (min-width: 600px) {
                @include columns(6);
            }

            @media (min-width: 800px) {
                @include columns(4);
            }

            @media (min-width: $max-width) {
                @include columns(3);
            }
            &--island {
                width: 100%;
            }
        }

        &__home{
            @include columns(12);
            display: flex;
            justify-content: center;

            @media (min-width: 400px) {
                @include columns(12);
            }

            @media (min-width: 600px) {
                @include columns(6);
                justify-content: center;
            }
    
            @media (min-width: 800px) {
                @include columns(4);
            }
    
            @media (min-width: $max-width) {
                @include columns(4);
            }
        }

        &__button{
            @include columns(2);
            background: #F7F4E4;
            display: flex;
            cursor: pointer;
            padding: 10px;
            // padding-left: 40px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 20px 20px 0 0;
            font-family: 'Rubik';
            font-weight: 600;
            color: #8B7B63;
            

            &:hover {
                background: white;;
                transition: 1s;
                // transform: scale(1.05);
            }
    
            @media (min-width: $max-width) {
                @include columns(2);
                // padding-left: 40px;
            }
        }
    }

    &__nav {
        padding-top: 20px;
        position: relative;
        max-width: $max-width;
        margin: 0 auto;
        z-index: 1;
        border-radius: 50px;

        &--island {
            position: relative;
            max-width: $max-width;
            margin: 0 auto;
            z-index: 1;
            border-radius: 50px;
        }

        &__icon{
            height: 35px;
        }

        &__text{
            margin-left: 10px;

            @media (max-width: 820px) {
                display: none;
            }

            &--island {
                display: none;
            }
        }

        &__container{
            display: flex;
            align-items: center;
            margin: auto;
        }
    }

    &__home {
        display: flex;
        @include columns(6);

        @media (min-width: 400px) {
            @include columns(4);
        }

        @media (min-width: 800px) {
            @include columns(8);
        }

        @media (min-width: $max-width) {
            @include columns(10);
        }
    }
}

.dropshadow{
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
    border-radius: 50px;
}

.inactive{
    background: #E3E1D3;
}

.checkmark{
    position: absolute;
    transform: translate(100%, -250%);
    opacity: 1;

    &__details{
        position: absolute;
        transform: translate(50%, 25%);
    }

    &__image{
        display: flex;
        color: #887C66;
        font-family: $font-main;
        font-size: 10pt;
        font-weight: 400;
        align-items: center;
        flex-direction: column;
        z-index: 1000000;
    }

    &__placeholder{
        height: 100px;
        width: 100%;
    }
}