@import "config";

.menuBar {
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
    color: #835B26;
    font-family: 'FinkHeavy';
    font-size: 16pt;
    @media (max-width: 700px){
        height: 100px;
    }

    &__hidden {
        display: none;
    }

    &__upper {
        height: 50px;
        display: flex;
        width: 100%;
    }

    &__lower {
        height: 60px;
        display: flex;
        width: 100%;
    }

    &__sides {
        flex-direction: column;
        align-items: center;
        width: 15%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        @media (max-width: 700px){
            width: 30%;
            align-items: flex-start;
        }
    }

    &__sidesWithSettings {
        flex-direction: column;
        align-items: center;
        width: 15%;
        justify-content: center;
        padding-top: 10px;
        @media (max-width: 700px){
            width: 30%;
            align-items: flex-end;
        }
    }

    &__center {
        flex: 6;
        align-items: center;
        padding-top: 10px;
    }

    &__link {
        color: inherit;
    }

    &__icon {
        font-size: 40px;
        margin-right: 10px;
        height: 40px;
        cursor: pointer;
    }

    &__back {
        font-size: 40px;
        margin-right: -50%;
        height: 40px;
        cursor: pointer;
    }

    &__backLower {
        @media (max-width: 1000px){
            display: none;
        }
        font-size: 40px;
        margin-right: 10px;
        height: 40px;
        cursor: pointer;
    }

    &__list {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    &__title {
        font-size: 40px;
        width: 100%;
        text-transform: capitalize;
        @media (max-width: 700px){
            font-size: 24px;
        }
    }

    &__image {
        height: 50px;
    }

    &__logo {
        height: 40px;
    }

    &__mute {
        height: 40px;
        width: 40px;
        cursor: pointer;
        @media (max-width: 1000px){
            display: none;
        }
    }

    &__search {
        @media (max-width: 1000px){
            display: none;
        }
        background-color: #F5F7E1;
        border: #DED9C0 2px solid;
        color: #8B7A66;
        font-size: 0.75em;
        border-radius: 25px;
        display: inline-block;
        cursor: pointer;
        width: 200px;
        padding: 10px;
    }

    &__filter {
        @media (max-width: 1000px){
            display: none;
        }
        width: 100px;
    }

    &__backdrop {
        width: 500vw;
        height: 500vw;
    }
    
    &__drawerDisplayer {
        position: fixed;
        right: 0;
        z-index: 1;
    }

    &__drawer {
        position: fixed;
        right: 0;
        z-index: 2;
    }

    &__sideDrawer {
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        max-width: 300px;
        z-index: 2;
        transform: translateX(115%);
        transition: transform 0.9s ease-in-out;
        box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    }
    
    &__sideDrawerOpen {
        box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
        transform: translateX(0);
        transition: transform 0.9s ease-in-out;
    }

    &__sideDrawerList {
        list-style: none;
        height: 70vh;
        background-color: #F5F7E1;
    }

    &__sideDrawerListBottom {
        list-style: none;
        height: 33vh;
        margin-top: -1px;
        background-color: #F5F7E1;
        @media (max-width: 700px){
            padding-top: 30px;
        }
    }

    &__sideDrawerItemTop {
        padding-top: 30px;
        text-decoration: none;
    }

    &__sideDrawerItem {
        text-decoration: none;
    }

    &__sideDrawerText {
        color: #835B26;
        font-family: 'FinkHeavy';
        font-size: 20pt;
        padding: 20px;
    }

    &__sideDrawerTextWithIcon {
        color: #835B26;
        font-family: 'FinkHeavy';
        font-size: 20pt;
        padding: 20px;
        margin-right: 10px;
    }

    &__sideDrawerIcon {
        width: 32px;
        height: 32px;
        margin-left: 30px;
    }

    &__sideDrawerLink {
        text-decoration: none;
    }

    &__flexContainerWithIcon {
        justify-content:space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__sideDrawerClose{
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 180px;
    }
}