@import "config";

.menuBar {
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__upper {
        height: 50px;
        display: flex;
        width: 100%;
    }

    &__lower {
        height: 60px;
        display: flex;
        width: 100%;
    }

    &__sides {
        flex-direction: column;
        align-items: center;
        width: 15%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    &__center {
        flex: 6;
        align-items: center;
        padding-top: 10px;
    }

    &__link {
        color: inherit;
    }

    &__icon {
        font-size: 40px;
        margin-right: 10px;
        height: 40px;
        cursor: pointer;
    }

    &__list {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    &__title {
        width: 100%;
    }

    &__image {
        height: 50px;
    }

    &__logo {
        height: 40px;
    }

    &__search {
        background-color: #F5F7E1;
        border: #DED9C0 2px solid;
        color: #8B7A66;
        font-size: 0.75em;
        border-radius: 25px;
        display: inline-block;
        cursor: pointer;
        width: 200px;
        padding: 10px;
    }

    &__filter {
        width: 100px;
    }
}