.player {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.border {
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    @include columns(12);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    border-radius: 50px;
    padding: 1em;
    background-color: #F7F4E4;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));


    &__flex-left {
        flex: 50%;
        justify-self: center;
    }

    &__flex-right {
        flex: 50%;
    }

}

.buttons-music {
    @media (max-width: 600px) {
        padding: 0em;
    }
    display: flex;
    padding: 1em;
    justify-content: center;
    cursor: pointer;
}

.artist-info {
    @media (max-width: 600px) {
        flex-direction: column;
    }
    display: flex;
    padding: 2px;
    justify-content: center;
    margin: auto;
    align-items: center;
    

    &__image {
        @media (max-width: 600px) {
            margin-top: 10px;
        }
        border-radius: 20px;
        width: 200px;
        height: 200px;
        margin-left: 10px;
    }

    &__song {
        @media (max-width: 600px) {
            margin-top: 10px;
        }
        padding-left: 5%;
        padding-right: 5%;
        font-family: 'Rubik';
        font-style: normal;
        font-size: xx-large;
        color: #835B26;
        font-weight: bold;
        margin-left: 20px;
    }
}
            
.playpause-track,
.stop-track {
    padding: 10px;
    opacity: 0.8;
    transition: opacity .2s;
    color: #835B26;
}
    
.playpause-track:hover,
.stop-track:hover {
    opacity: 1.0;
}

.progress_bar {
    @media (max-width: 1100px) {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    height: 30px;
    width: 100%;
    background-color: #F8EEBC;
    border-radius: 25px;
}

.progressed {
    @media (max-width: 1100px) {
        width: 0%;
    }
    height: 30px;
    background-color: #88C9A1;
    width: 0%;
    border-radius: 25px;
}