@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

img {
  /* stylelint-disable-line */
  max-width: 100%;
}

body {
  background: url(../../public/images/bg_cream.png) center;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.listItem {
  padding: 2px;
  border: green 1px solid;
  cursor: pointer;
}
.listItem__image {
  border-style: solid;
}
.listItem__image__home {
  width: 200px;
  border-radius: 20px;
}
.listItem__image__music {
  width: 75%;
  margin-top: 20px;
  border-radius: 20px;
}
.listItem__image__encyclopedia--island {
  max-width: 50%;
}
.listItem__text {
  width: 90%;
}
.listItem__text__home {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Rubik";
  font-style: normal;
  color: #835B26;
  font-weight: bold;
}
.listItem__text__villagers {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Rubik";
  font-style: normal;
  color: #835B26;
  font-weight: bold;
}
.listItem__text__music {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  margin-top: 10px;
  font-family: "Rubik";
  font-style: normal;
  color: #835B26;
  font-weight: bold;
}
.listItem__text__encyclopedia {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  font-family: "Rubik";
  font-style: normal;
  color: #835B26;
  font-weight: bold;
}
.listItem__text__encyclopedia--island {
  font-size: 10px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  font-family: "Rubik";
  font-style: normal;
  color: #835B26;
  font-weight: bold;
}
.listItem__home {
  text-decoration: none;
  padding: 2px;
  cursor: pointer;
  margin: 10px;
  width: 250px;
  height: 250px;
  background: #F7F4E4;
  border-radius: 50px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listItem__home:hover {
  background: #DED9C0;
  transition: 1s;
  transform: scale(1.05);
}
.listItem__villagers {
  padding: 2px;
  cursor: pointer;
  margin: 10px;
  width: 170px;
  height: 170px;
  background: #F7F4E4;
  border-radius: 50px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  transition: 1s;
}
.listItem__villagers:hover {
  background: #DED9C0;
  transition: 1s;
  transform: scale(1.05);
}
.listItem__encyclopedia {
  cursor: pointer;
}
.listItem__music {
  cursor: pointer;
  border-radius: 50px;
  margin: 10px 10px;
  background: #F7F4E4;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  transition: 1s;
}
.listItem__music:hover {
  background: #DED9C0;
  transition: 1s;
  transform: scale(1.05);
}
.listItem__music:hover .play_button-is-hover {
  opacity: 1;
  background: transparent;
}
.listItem__image_music {
  margin-top: 10px;
  border-radius: 20px;
  margin: auto 0;
}
.listItem__text_music {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  font-family: "Rubik";
  font-style: normal;
  color: #835B26;
  font-weight: bold;
}
.listItem__play_button {
  opacity: 1;
  width: 40px;
  height: 40px;
  background: #DED9C0;
}
.listItemplaybuttonContainer {
  width: 100%;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.list {
  /*display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  */
}
.list__container {
  max-width: 1200px;
  margin: 0 auto;
}
.list__container__encyclopedia {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background: #F7F4E4;
  border-radius: 0px 50px 50px 50px;
}
.list__container__encyclopedia--island {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background: #F7F4E4;
  border-radius: 0px 50px 50px 50px;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.list__container__other--island {
  max-width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.list__row {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  flex-wrap: wrap;
}
.list__row__encyclopedia {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  flex-wrap: wrap;
  border: #835B26 2px solid;
}
.list__row__encyclopedia--island {
  flex-wrap: wrap;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
}
.list__row__other--island {
  flex-wrap: wrap;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  background-color: aqua;
}
.list__row__nav {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  z-index: 10000;
}
.list__row__home {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  flex-wrap: wrap;
}
.list__col {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 500px) {
  .list__col {
    width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 800px) {
  .list__col {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .list__col {
    width: 16.6666666667%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.list__col__encyclopedia {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  border: #835B26 2px solid;
}
.list__col__encyclopedia:hover {
  background: #DED9C0;
  transition: 1s;
  transform: scale(1.05);
}
@media (min-width: 400px) {
  .list__col__encyclopedia {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 600px) {
  .list__col__encyclopedia {
    width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 800px) {
  .list__col__encyclopedia {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .list__col__encyclopedia {
    width: 16.6666666667%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.list__col__encyclopedia--island {
  border: #835B26 2px solid;
  width: 33.3333333333%;
  padding-right: 10px;
  padding-left: 10px;
}
.list__col__encyclopedia--island:hover {
  background: #DED9C0;
  transition: 1s;
  transform: scale(1.05);
}
.list__col__other--island {
  border: #835B26 2px solid;
  width: 33.3333333333%;
  padding-right: 10px;
  padding-left: 10px;
}
.list__col__other--island:hover {
  background: #DED9C0;
  transition: 1s;
  transform: scale(1.05);
}
.list__col__music {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 600px) {
  .list__col__music {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 800px) {
  .list__col__music {
    width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .list__col__music {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.list__col__home {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}
@media (min-width: 400px) {
  .list__col__home {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 600px) {
  .list__col__home {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .list__col__home {
    width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .list__col__home {
    width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.list__col__button {
  width: 16.6666666667%;
  padding-right: 10px;
  padding-left: 10px;
  background: #F7F4E4;
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px 20px 0 0;
  font-family: "Rubik";
  font-weight: 600;
  color: #8B7B63;
}
.list__col__button:hover {
  background: white;
  transition: 1s;
}
@media (min-width: 1200px) {
  .list__col__button {
    width: 16.6666666667%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.list__nav {
  padding-top: 20px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
  border-radius: 50px;
}
.list__nav__icon {
  height: 35px;
}
.list__nav__text {
  margin-left: 10px;
}
@media (max-width: 820px) {
  .list__nav__text {
    display: none;
  }
}
.list__nav__text--island {
  display: none;
}
.list__nav__container {
  display: flex;
  align-items: center;
  margin: auto;
}
.list__home {
  display: flex;
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 400px) {
  .list__home {
    width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 800px) {
  .list__home {
    width: 66.6666666667%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .list__home {
    width: 83.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.dropshadow {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  border-radius: 50px;
}

.inactive {
  background: #E3E1D3;
}

.checkmark {
  position: absolute;
  transform: translate(100%, -250%);
  opacity: 1;
}
.checkmark__details {
  transform: translate(50%, 25%);
}
.checkmark__image {
  display: flex;
  color: #887C66;
  font-family: "Rubik", sans-serif;
  font-size: 10pt;
  font-weight: 400;
  align-items: center;
  flex-direction: column;
  z-index: 1000000;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.details {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1000;
}
.details__container {
  width: 60%;
  max-width: 1200px;
  max-height: 80vh;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #EFEAC8;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  border-radius: 5vw;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}
@media (max-width: 1000px) {
  .details__container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .details__container {
    width: 98%;
    padding: 0;
  }
}
.details__row {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  flex-wrap: wrap;
  margin-top: 5%;
}
@media (max-width: 1000px) {
  .details__row {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.details__col {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}
.details__col__three {
  width: 33.3333333333%;
  padding-right: 10px;
  padding-left: 10px;
  padding: 2%;
}
.details__col__one {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding: 2%;
}
.details__col__two {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  padding: 2%;
}
.details__col__splitter {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  padding-left: 5%;
  border-left: #835B26 dashed 2px;
}
@media (max-width: 1000px) {
  .details__col__splitter {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-left: 0;
    border-left: none;
    margin-top: 10%;
    border-top: #835B26 dashed 2px;
  }
}
@media (max-width: 1000px) {
  .details__col {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.details__nav {
  display: flex;
  flex-direction: row;
  width: 50%;
  transform: translate(50%, 0);
  cursor: pointer;
}
.details__title {
  font-family: "FinkHeavy";
  font-size: 24pt;
  color: #835B26;
  text-align: left;
}
.details__heading {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #835B26;
  text-align: left;
  margin-bottom: 5px;
}
.details__content {
  font-family: "Rubik", sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: #887C66;
  text-align: left;
}

.hidden {
  display: none;
  opacity: 0;
}

.close {
  position: absolute;
  transform: scale(0.75);
  top: 5%;
  right: 5%;
  cursor: pointer;
}

button {
  background-color: #F5F7E1;
  border: #DED9C0 2px solid;
  color: #8B7A66;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 0.75em;
  display: inline-block;
  cursor: pointer;
  border-radius: 25px;
}
@media (max-width: 1000px) {
  button {
    margin-top: 10px;
  }
}

button:hover {
  background-color: white;
  color: #8B7A66;
}

.button__positive {
  background-color: #61D16C;
  color: white;
  border: white 2px solid;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.button__negative {
  background-color: #FF5757;
  color: white;
  border: white 2px solid;
  padding-left: 10px;
  padding-right: 10px;
}

.image__villagers {
  width: 20vw;
  max-width: 300px;
  min-width: 200px;
}
@media (max-width: 1000px) {
  .image {
    max-height: 20vh;
  }
}

.frame {
  position: absolute;
  width: 25vw;
  max-width: 360px;
  min-width: 250px;
  min-height: 250px;
  transform: translate(-10%, -10%);
}
@media (max-width: 1000px) {
  .frame {
    max-height: 20vh;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DED9C0;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8B7A66;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #835B26;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.months__container {
  width: 80%;
  margin-left: 2%;
  text-align: center;
}
.months__row {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #F7F4E4;
}
.months__col {
  width: 16.6666666667%;
  padding-right: 10px;
  padding-left: 10px;
  padding: 2px;
}
.months__colActive {
  width: 16.6666666667%;
  padding-right: 10px;
  padding-left: 10px;
  padding: 2px;
  background-color: #61D16C;
  color: white;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.menuBar {
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  color: #835B26;
  font-family: "FinkHeavy";
  font-size: 16pt;
}
.menuBar__hidden {
  display: none;
}
.menuBar__upper {
  height: 50px;
  display: flex;
  width: 100%;
}
.menuBar__lower {
  height: 60px;
  display: flex;
  width: 100%;
}
.menuBar__sides {
  flex-direction: column;
  align-items: center;
  width: 15%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.menuBar__sidesWithSettings {
  flex-direction: column;
  align-items: center;
  width: 15%;
  justify-content: center;
  padding-top: 10px;
}
.menuBar__center {
  flex: 6;
  align-items: center;
  padding-top: 10px;
}
.menuBar__link {
  color: inherit;
}
.menuBar__icon {
  font-size: 40px;
  margin-right: 10px;
  height: 40px;
  cursor: pointer;
}
.menuBar__backUpper {
  font-size: 40px;
  margin-right: -50%;
  height: 40px;
  cursor: pointer;
}
@media (min-width: 1001px) {
  .menuBar__backUpper {
    display: none;
  }
}
.menuBar__backLower {
  font-size: 40px;
  margin-right: 10px;
  height: 40px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .menuBar__backLower {
    display: none;
  }
}
.menuBar__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.menuBar__title {
  width: 100%;
  text-transform: capitalize;
}
.menuBar__image {
  height: 50px;
}
.menuBar__logo {
  height: 40px;
}
.menuBar__mute {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .menuBar__mute {
    display: none;
  }
}
.menuBar__search {
  background-color: #F5F7E1;
  border: #DED9C0 2px solid;
  color: #8B7A66;
  font-size: 0.75em;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  width: 200px;
  padding: 10px;
}
@media (max-width: 1000px) {
  .menuBar__search {
    display: none;
  }
}
.menuBar__filter {
  width: 100px;
}
@media (max-width: 1000px) {
  .menuBar__filter {
    display: none;
  }
}
.menuBar__backdrop {
  width: 500vw;
  height: 500vw;
}
.menuBar__drawerDisplayer {
  position: fixed;
  right: 0;
  z-index: 1;
}
.menuBar__drawer {
  position: fixed;
  right: 0;
  z-index: 2;
}
.menuBar__sideDrawer {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 300px;
  z-index: 2;
  transform: translateX(115%);
  transition: transform 0.9s ease-in-out;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}
.menuBar__sideDrawerOpen {
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  transition: transform 0.9s ease-in-out;
}
.menuBar__sideDrawerList {
  list-style: none;
  height: 70vh;
  background-color: #F5F7E1;
}
.menuBar__sideDrawerListBottom {
  list-style: none;
  height: 30vh;
  background-color: #F5F7E1;
}
.menuBar__sideDrawerItemTop {
  padding-top: 30px;
  text-decoration: none;
}
.menuBar__sideDrawerItem {
  text-decoration: none;
}
.menuBar__sideDrawerText {
  color: #835B26;
  font-family: "FinkHeavy";
  font-size: 20pt;
  padding: 20px;
}
.menuBar__sideDrawerTextWithIcon {
  color: #835B26;
  font-family: "FinkHeavy";
  font-size: 20pt;
  padding: 20px;
  margin-right: 10px;
}
.menuBar__sideDrawerIcon {
  width: 32px;
  height: 32px;
  margin-left: 30px;
}
.menuBar__sideDrawerLink {
  text-decoration: none;
}
.menuBar__flexContainerWithIcon {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menuBar__sideDrawerClose {
  position: absolute;
  top: 30px;
  right: 180px;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.loading__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  top: 0;
  left: 0;
}
.loading__icon {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.info {
  display: grid;
  grid-template-columns: 5fr 5fr 8fr;
  grid-template-areas: "about villagers api-devs" "island music img" "collectable art img" "collectable art img";
  width: 900px;
  height: 800px;
  background-color: #F7F4E4;
  border-radius: 50px;
  transform: translate(10%, 15%);
  overflow: hidden;
  bottom: 50%;
  display: grid;
  width: 80%;
  display: grid;
}
.info__heading {
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #835B26;
  margin-bottom: 2%;
}
.info__text {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Rubik", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #887C66;
}

.info_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.image-name {
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #835B26;
  margin-bottom: 2%;
  transform: translateY(100%);
}

.image-mail {
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #887C66;
  transform: translateY(120%);
}

@media (max-width: 1000px) {
  .info {
    grid-template-areas: "about about about" "villagers villagers villagers" "api-devs api-devs api-devs" "island island island" "music music music" "collectable collectable collectable" "art art art" "img img img";
    overflow-y: scroll;
  }
}
@media (max-width: 1000px) {
  .info::-webkit-scrollbar-track {
    margin-block: 3em;
  }
}
.grids {
  margin: 8px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.5;
}
.grids__about {
  grid-area: about;
}
.grids__island {
  grid-area: island;
}
.grids__collectable {
  grid-area: collectable;
}
.grids__villagers {
  grid-area: villagers;
}
.grids__music-info {
  grid-area: music;
}
.grids__art {
  grid-area: art;
}
.grids__api-devs {
  grid-area: api-devs;
}
.grids__img {
  grid-area: img;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grids__img__contact-a {
  grid-column: 1;
  grid-row: 1;
}
.grids__img__contact-at {
  grid-column: 2;
  grid-row: 1;
}
.grids__img__contact-b {
  grid-column: 1;
  grid-row: 2;
}
.grids__img__contact-bt {
  grid-column: 2;
  grid-row: 2;
}
.grids__img__contact-c {
  grid-column: 1;
  grid-row: 3;
}
.grids__img__contact-ct {
  grid-column: 2;
  grid-row: 3;
}
.grids__img__contact-d {
  grid-column: 1;
  grid-row: 4;
}
.grids__img__contact-dt {
  grid-column: 2;
  grid-row: 4;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.island__container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: orange;
  display: flex;
}
.island__col {
  width: 50%;
  display: flex;
}
.island__row {
  width: 50%;
  display: row;
  flex-direction: row;
}
.island__encyclopedia {
  padding: 10px;
  background-color: aqua;
}
.island__collectibles {
  padding: 10px;
  background-color: red;
}
.island__music {
  padding: 10px;
  background-color: purple;
}
.island__villagers {
  padding: 10px;
  background-color: green;
}

.player {
  height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.buttons-music {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.playpause-track,
.stop-track {
  padding: 10px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.playpause-track:hover,
.stop-track:hover {
  opacity: 1;
}

.progress_bar {
  height: 30px;
  width: 800px;
  background-color: #F7F4E4;
  margin-left: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media (max-width: 1100px) {
  .progress_bar {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .progress_bar {
    display: none;
  }
}

.progressed {
  height: 30px;
  background-color: #88C9A1;
  width: 0%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media (max-width: 1100px) {
  .progressed {
    width: 0%;
  }
}
@media (max-width: 600px) {
  .progressed {
    display: none;
  }
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.page404__image {
  width: 700px;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/finkHeavy.otf"), url("../fonts/finkHeavy.ttf") format("truetype");
}
.authentication {
  margin: auto;
  margin-bottom: 50px;
}
.authentication__headline {
  margin-bottom: 20px;
  font-size: 1.5em;
}
.authentication__label {
  font-weight: 500;
  text-align: left;
  margin-left: 10%;
  font-size: 0.9em;
}
.authentication__form {
  min-width: 300px;
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  background: #F7F4E4;
  color: #835B26;
  padding: 50px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  border-radius: 20px;
}
.authentication__input {
  font-family: "Rubik", sans-serif;
  background-color: #FFFFFF;
  border: #DED9C0 2px solid;
  color: #887C66;
  font-size: 0.75em;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
.authentication__input--error {
  background-color: #e0cdb7;
  border: #dba59e 2px solid;
}
.authentication__citySelection {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #a6977d 50%), linear-gradient(135deg, #a6977d 50%, transparent 50%), linear-gradient(to right, #DED9C0, #DED9C0);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 3em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border: #DED9C0 2px solid;
  color: #887C66;
  font-size: 0.75em;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
.authentication__submit {
  margin-top: 30px;
}
.authentication__image {
  min-width: 300px;
  height: 25vh;
  max-width: 800px;
  margin-bottom: 50px;
  margin-top: 50px;
}

/*# sourceMappingURL=styles.css.map */
