

.hidden{
    display: none;
}

.fish{
    text-align: center;
    border-style:solid;
    width: 150px;
}

.page{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
    "left middle right"
}

.page-left{
    grid-area: left;
}

.page-right{
    grid-area: left;
}

.grid-container{
    display: grid;
    grid-area: middle;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 50px);;

    border-style:solid;
    grid-gap: 5px;

    justify-content: center;
}

.grid-item-1 {
    border-style:solid;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-3 {
    border-style:solid;
    grid-column: 3 / 4;
    background-color: beige;
}

.grid-item-4 {
    border-style:solid;
}

.grid-item-5 {
    border-style:solid;
}

.grid-item-6 {
    border-style:solid;
    grid-column: 3 / -1;
    grid-row: 2 / 3;
}

.grid-item-7 {
    border-style:solid;
    grid-column: 3 / -1;
    grid-row: 3 / 4;
}

.grid-item-8 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}

.grid-item-9 {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
}

.encyclopedia{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.encyclopedia-item{
    padding: 2px;
    border: green 1px solid;
}

.encyclopedia-text{
    width: 90%;
}

.encyclopedia-nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    transform: translate(50%, 0);
    cursor: pointer;
}

.music{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.music-item{
    padding: 2px;
    border: green 1px solid;
}

.music-text{
    width: 90%;
}

.buttons{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
}

.buttons:hover{
    background-color: aqua;
}